@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
/* utility classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #393939;
  font-weight: 400;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  /* height: 100%; */
}

/* header */

header {
  background: url("../img/heading/fon.jpg");
  color: #fff;
}
.logo {
  font-size: 50px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  height: inherit;
}
header .nav ul li a {
  text-decoration: none;
  color: #fff;
}

header .nav ul li {
  list-style: none;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
.current {
  background: rgb(196, 35, 7);
  padding: 25px;
}
.current:hover {
  background: rgb(202, 73, 50);
}
/* showcase */
.showcase-content {
  display: flex;
  flex-direction: row;
}

.showcase-content .left {
  flex: 2;
  padding: 20px;
  margin: 150px 0;
}

.showcase-content .right {
  flex: 1;
  padding: 12px;
  margin-top: 140px;
}
.showcase-content .right img {
  height: 700px;
}
