@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
/* utility classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #393939;
  font-weight: 400;
  /* position: relative; */
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  /* overflow: hidden; */
}

/* header */

header {
  /* background: #d90646; */
}
.showcase-content {
  background: url("../img/heading/fon.jpg") no-repeat;
  color: #fff;
  margin-bottom: 55px;
}
#nav ul li a:hover {
  color: black;
}
#nav .logo {
  font-size: 50px;
  color: #fff;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  /* margin: 0 auto; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: #d90646;
}
#nav ul {
  display: flex;
  flex-direction: row;
  height: inherit;
}
#nav ul li a {
  text-decoration: none;
  color: #fff;
}

#nav ul li {
  list-style: none;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
/* .current {
  background: rgba(190, 17, 17, 0.514);
  padding: 25px;
  transition: all 0.3s ease-in-out;
} */
/* .current:hover {
  color: #b64042;
  background: #fff;
} */
/* showcase */
.showcase-content {
  display: flex;
  flex-direction: row;
  height: 700px;
}

.showcase-content .left {
  flex: 2;
  padding: 20px;
  margin-top: 150px;
}
.showcase-content .left h1 {
  /* line-height: 2rem; */
  font-size: 72px;
  margin-bottom: 15px;
}
.showcase-content .left p span {
  /* line-height: 2rem; */
  font-size: 27px;
  font-weight: 700;
  /* background: black; */
}
.showcase-content .left p {
  font-size: 20px;
  margin-bottom: 120px;
}
.showcase-content .right {
  flex: 1;
  padding: 12px;
  margin-top: 50px;
}
.showcase-content .right img {
  height: 700px;
}
.showcase-content .left .btn {
  text-decoration: none;
  font-size: 18px;
  color: #b64042;
  background: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  /* transition: all 0.3s ease-in-out; */
}

.showcase-content .left .btn:hover {
  color: #800329;
  background: black;
}
/* section_one */

.content_one {
  display: flex;
  flex-direction: row;
  /* height: 602px; */
  align-items: center;
}
.first .container .content_one .left {
  position: relative;
  /* height: 800px; */
  height: 602px;
  flex: 1.5;
}
.first .content_one .right {
  flex: 1;
  /* align-content: center; */
}
.first .content_one .right h1 {
  color: #363636;
  font-size: 44px;
  margin-bottom: 25px;
}
.first .content_one .right p {
  color: #909090;
  text-align: left;
  line-height: 1.4rem;
}
.first .content_one .right h1 span {
  color: #e32638;
  font-size: 60px;
}
.first .content_one .ph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 602px;
}
.first .content_one .ph_2 {
  position: absolute;
  top: 110px;
  left: 160px;
  height: 602px;
}
/* Section two */
.content_two {
  display: flex;
  flex-direction: row;
  /* height: 602px; */
  align-items: center;
}
.second .container .content_two .left {
  position: relative;
  /* height: 800px; */
  height: 660px;
  flex: 1.5;
}
.second .content_two .right {
  flex: 1;
  /* align-content: center; */
}
.second .content_two .right h1 {
  color: #363636;
  font-size: 44px;
  margin-bottom: 25px;
}
.second .content_two .right p {
  color: #909090;
  text-align: left;
  line-height: 1.4rem;
}
.second .content_two .right h1 span {
  color: #e32638;
  font-size: 60px;
}
.second .content_two .ph_1 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 602px;
}
.second .content_two .ph_2 {
  position: absolute;
  top: 110px;
  right: 160px;
  height: 500px;
}
.second {
  padding: 10px 0px 40px 0px;
  border-bottom: #d1c4c4 1px solid;
}

/* third */
.third {
  margin-bottom: 100px;
}
.flex_out {
  display: flex;
  flex-direction: column;
}
.third .flex_out h1 {
  color: #363636;
  font-size: 44px;
  text-align: center;
  padding: 60px;
}

.third .flex_out .items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* text-align: center; */
}
.third .flex_out h1 span {
  color: #e32638;
  font-size: 60px;
}
.third .flex_out span {
  color: #e32638;
  font-size: 15px;
}
.third .flex_out .blox_text {
  border: 1px solid #e0e0e0e0;
  margin: 15px 15px 0 15px;
  padding: 20px;
  text-align: left;
  line-height: 1.4rem;
}
.third .flex_out .blox_text p {
  color: #999999;
  font-size: 15px;
}
.third .flex_out .blox_text p:first-child {
  margin-bottom: 20px;
}
.third .flex_out .items .blocks:nth-child(2) .blox_text {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 55px;

  /*margin-right: 25px;
  margin-left: 25px; */

  /* margin: 0 35px 25px 15px; */
}
/* .third .flex_out .items .blocks:nth-child(2) .blox_text::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 235px;
  border: 15px solid transparent;
  border-top: 15px solid #ffffff;
} */
img {
  margin: 15px;
}
.info {
  /* margin: -20px; */
  display: inline-block;
}
.lower {
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* section four */
.four {
  position: relative;
  width: 100%;
  height: 518px;
  margin-top: 150px;
  margin-bottom: 160px;
  background: linear-gradient(to bottom, #d90646, #eb3f2d);
}
.four .flex_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 518px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
}
.four .large {
  position: relative;
}
.centr {
  position: absolute;
  top: -98px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.four .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.four .items {
  width: 200px;
  height: 200px;
  margin: 25px;
}
.four .items:nth-child(1) .box {
  text-align: left;
}
.four .items:nth-child(2) .box {
  text-align: left;
}

.four .items:nth-child(4) .box {
  text-align: right;
  /* background: black; */
}
.four .items:nth-child(5) .box {
  text-align: right;
  /* background: black; */
}
.opacity {
  position: absolute;
  top: 0px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 14px;
  opacity: 0.8;
  z-index: 3;
  height: 520px;
  width: 290px;
  background: black;
}
.play {
  position: absolute;
  top: 215px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

/* SUBSCRIBE SECTION */
.subscribe {
  margin-top: 100px 0;
  border-bottom: #d1c4c4 1px solid;
  padding-bottom: 100px;
}
.subscribe h1 {
  margin-bottom: 35px;
  font-size: 60px;
  color: #363636;
  text-align: center;
}

.subscribe h1 span {
  font-size: 60px;
  color: #e32638;
}

.subscribe p {
  text-align: center;
  margin-bottom: 35px;
}
.form {
  text-align: center;
  /* position: relative; */
}

.subscribe .btn {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(to bottom, #d90646, #eb3f2d);
  padding: 10px 40px;
  border-radius: 20px;
  /* position: absolute;
  top: 0; */
  /* transition: all 0.3s ease-in-out; */
}

.subscribe .btn:hover {
  color: #800329;
  background: black;
}

#subscribeInput {
  border-radius: 10px 10px 10px 10px;
  color: #fff;
  height: 50px;
  width: 100px;
  background: #f8f8f8;
  border: 0px;
  padding: 0px 190px 0px 28px;
  display: block;
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.subscribeForm {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.form-control {
  display: block;
  /* width: 100%; */
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.subscribeBtn {
  position: absolute;
  border-radius: 50px;
  height: 50px;
  width: 180px;
  color: white;
  border: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(to bottom, #d90646, #eb3f2d);
}
/* download */

.downloadSection {
  /* margin: 100px 0; */
  border-bottom: #d1c4c4 1px solid;
}
.downloadLogo {
  /* margin-top: 100px; */
  text-align: center;
}

.downloadSection h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 35px;
}
.downloadSection h2 span {
  font-size: 60px;
  color: red;
}
.downloadSection p {
  text-align: center;
  margin-bottom: 35px;
}
.downloadSection {
  padding: 80px 0;
}
.text-center {
  text-align: center;
  margin-bottom: 35px;
}

.flex_fot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex_fot .left .nav-fot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-fot li {
  list-style: none;
  margin: 15px 25px;
  color: #fff;
}
.nav-fot li a {
  text-decoration: none;
  color: #686868;
}
.right li {
  list-style: none;
}
footer {
  margin-bottom: 20px;
}
.nav-fot li a:hover {
  color: red;
}
