@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
/* utility classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #393939;
  font-weight: 400;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  /* height: 100%; */
}

/* header */

header {
  background: url("../img/heading/fon.jpg");
  color: #fff;
}
.logo {
  font-size: 50px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  height: inherit;
}
header .nav ul li a {
  text-decoration: none;
  color: #fff;
}

header .nav ul li {
  list-style: none;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
.current {
  background: rgba(190, 17, 17, 0.514);
  padding: 25px;
  transition: all 0.3s ease-in-out;
}
.current:hover {
  color: #b64042;
  background: #fff;
}
/* showcase */
.showcase-content {
  display: flex;
  flex-direction: row;
}

.showcase-content .left {
  flex: 2;
  padding: 20px;
  margin-top: 250px;
}
.showcase-content .left h1 {
  /* line-height: 2rem; */
  font-size: 72px;
  margin-bottom: 15px;
}
.showcase-content .left p span {
  /* line-height: 2rem; */
  font-size: 27px;
  font-weight: 700;
  /* background: black; */
}
.showcase-content .left p {
  font-size: 20px;
  margin-bottom: 120px;
}
.showcase-content .right {
  flex: 1;
  padding: 12px;
  margin-top: 140px;
}
.showcase-content .right img {
  height: 700px;
}
.showcase-content .left .btn {
  text-decoration: none;
  font-size: 18px;
  color: #b64042;
  background: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  /* transition: all 0.3s ease-in-out; */
}

.showcase-content .left .btn:hover {
  color: #800329;
  background: black;
}
/* section_one */

.content_one {
  display: flex;
  flex-direction: row;
  /* height: 602px; */
  align-items: center;
}
.first .container .content_one .left {
  position: relative;
  /* height: 800px; */
  height: 602px;
  flex: 1.5;
}
.first .content_one .right {
  flex: 1;
  /* align-content: center; */
}
.first .content_one .right h1 {
  color: #363636;
  font-size: 44px;
  margin-bottom: 25px;
}
.first .content_one .right p {
  color: #909090;
  text-align: left;
  line-height: 1.4rem;
}
.first .content_one .right h1 span {
  color: #e32638;
  font-size: 60px;
}
.first .content_one .ph_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 602px;
}
.first .content_one .ph_2 {
  position: absolute;
  top: 110px;
  left: 160px;
  height: 602px;
}
/* Section two */
.content_two {
  display: flex;
  flex-direction: row;
  /* height: 602px; */
  align-items: center;
}
.second .container .content_two .left {
  position: relative;
  /* height: 800px; */
  height: 660px;
  flex: 1.5;
}
.second .content_two .right {
  flex: 1;
  /* align-content: center; */
}
.second ..content_two .right h1 {
  color: #363636;
  font-size: 44px;
  margin-bottom: 25px;
}
.second .content_two .right p {
  color: #909090;
  text-align: left;
  line-height: 1.4rem;
}
.second .content_two .right h1 span {
  color: #e32638;
  font-size: 60px;
}
.second .content_two .ph_1 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 602px;
}
.second .content_two .ph_2 {
  position: absolute;
  top: 110px;
  right: 160px;
  height: 500px;
}
.second {
  padding: 10px 0px 40px 0px;
  border-bottom: #d1c4c4 1px solid;
}
